.button-main-container{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    button{
        transform: scale(3);
    }










    // end of .button-main-container
}